<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.People.DepartmentMapper">
    <resultMap id="DepartmentMap" type="com.cskaoyan.bean.People.Department">
        <result column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
        <result column="note" property="note"/>
    </resultMap>

    <select id="findAllDepartment" resultMap="DepartmentMap">
        select department_id,department_name,note from department limit #{offset} , #{rows}
    </select>

    <select id="findTotal" resultType="int">
        select count(*) from department
    </select>

    <insert id="insertDepartment" parameterType="com.cskaoyan.bean.People.Department">
        insert into department (department_id,department_name,note) values (#{departmentId},#{departmentName},#{note})
    </insert>

    <select id="getDepartmentData" resultMap="DepartmentMap">
        select department_id,department_name,note from department
    </select>

    <update id="departmentUpdateAll" parameterType="com.cskaoyan.bean.People.Department">
        update department set department_name = #{departmentName},note = #{note}
        where department_id = #{departmentId}
    </update>

    <delete id="departmentDeleteBatch" parameterType="java.lang.String">
        delete from department where department_id = #{id}
    </delete>

    <select id="searchDepartmentById" parameterType="java.lang.String">
        select * from department where department_id = #{id}
    </select>

    <select id="searchDepartmentByDepartmentId" resultMap="DepartmentMap">
        SELECT department_id,department_name,note
        FROM department where department_id like CONCAT('%',#{departmentId},'%')
    </select>

    <select id="searchDepartmentByDepartmentName" resultMap="DepartmentMap">
         SELECT department_id,department_name,note
        FROM department where department_name like CONCAT('%',#{departmentName},'%')
    </select>
</mapper>